In [10]:
import pandas as pd
from tqdm import tqdm

In [11]:
cpt_filtered_chunk = pd.read_csv('3_cpt_filtered_chunk2.csv')
cpt_filtered_chunk.head()

,BDSPPatientID,AdmissionDate,ICD,NoteDate,NoteTitle,text
0,151212513,2016-02-03,305.1,2016-02-04,Notes_1131071605_435587215_20160204.txt,\n\nNote Date: *****/*****/*****\n\nNote Type:...
1,150639400,2023-06-12,Z79.4,2023-06-12,Notes_1130498158_10141889500_20230612.txt,\n\nNote Date: *****/*****/***** Time: 1100\n...
2,150057053,2020-12-12,C77.5,2020-12-17,Notes_1129915463_4302367261_20201217.txt,\n\nNote Date: *****/*****/*****\n\nNote Type:...
3,151005496,2010-06-29,530.81,2010-06-29,Notes_1130863925_364816102_20100629.txt,\n\nNote Date: *****/*****/*****\n\nNote Type:...
4,150006448,2014-07-10,244.9,2014-07-14,Notes_1129865503_1991829458_20140714.txt,\n\nNote Date: *****/*****/*****\n\nNote Type:...

In [12]:

unique_patients = cpt_filtered_chunk.drop_duplicates(subset='BDSPPatientID', keep='first')
print(len(unique_patients))

537

In [13]:
def check_word_count(text, threshold):
    word_count = len(text.split())
    return word_count > threshold

In [14]:
threshold = 500
unique_patients['valid'] = unique_patients['text'].apply(lambda x: check_word_count(x, threshold))
unique_patients.head()

/tmp/ipykernel_11422/3481420224.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unique_patients['valid'] = unique_patients['text'].apply(lambda x: check_word_count(x, threshold))

,BDSPPatientID,AdmissionDate,ICD,NoteDate,NoteTitle,text,valid
0,151212513,2016-02-03,305.1,2016-02-04,Notes_1131071605_435587215_20160204.txt,\n\nNote Date: *****/*****/*****\n\nNote Type:...,True
1,150639400,2023-06-12,Z79.4,2023-06-12,Notes_1130498158_10141889500_20230612.txt,\n\nNote Date: *****/*****/***** Time: 1100\n...,True
2,150057053,2020-12-12,C77.5,2020-12-17,Notes_1129915463_4302367261_20201217.txt,\n\nNote Date: *****/*****/*****\n\nNote Type:...,True
3,151005496,2010-06-29,530.81,2010-06-29,Notes_1130863925_364816102_20100629.txt,\n\nNote Date: *****/*****/*****\n\nNote Type:...,True
4,150006448,2014-07-10,244.9,2014-07-14,Notes_1129865503_1991829458_20140714.txt,\n\nNote Date: *****/*****/*****\n\nNote Type:...,True

In [15]:
numValid = sum(unique_patients['valid'])
print(numValid)

511

In [16]:
false_indeces = unique_patients.index[~unique_patients['valid']].tolist()
print(false_indeces)

[30, 95, 99, 128, 134, 136, 146, 156, 174, 190, 193, 214, 240, 264, 308, 359, 362, 367, 388, 389, 400, 415, 481, 548, 572, 573]

In [17]:
valid_notes = unique_patients.drop(index=false_indeces)
print(len(valid_notes))
valid_notes.head()

511

,BDSPPatientID,AdmissionDate,ICD,NoteDate,NoteTitle,text,valid
0,151212513,2016-02-03,305.1,2016-02-04,Notes_1131071605_435587215_20160204.txt,\n\nNote Date: *****/*****/*****\n\nNote Type:...,True
1,150639400,2023-06-12,Z79.4,2023-06-12,Notes_1130498158_10141889500_20230612.txt,\n\nNote Date: *****/*****/***** Time: 1100\n...,True
2,150057053,2020-12-12,C77.5,2020-12-17,Notes_1129915463_4302367261_20201217.txt,\n\nNote Date: *****/*****/*****\n\nNote Type:...,True
3,151005496,2010-06-29,530.81,2010-06-29,Notes_1130863925_364816102_20100629.txt,\n\nNote Date: *****/*****/*****\n\nNote Type:...,True
4,150006448,2014-07-10,244.9,2014-07-14,Notes_1129865503_1991829458_20140714.txt,\n\nNote Date: *****/*****/*****\n\nNote Type:...,True

In [20]:
BIDMC_final_icd_neg = valid_notes
print(len(BIDMC_final_icd_neg))
BIDMC_final_icd_neg.head()

511

,BDSPPatientID,AdmissionDate,ICD,NoteDate,NoteTitle,text,valid
0,151212513,2016-02-03,305.1,2016-02-04,Notes_1131071605_435587215_20160204.txt,\n\nNote Date: *****/*****/*****\n\nNote Type:...,True
1,150639400,2023-06-12,Z79.4,2023-06-12,Notes_1130498158_10141889500_20230612.txt,\n\nNote Date: *****/*****/***** Time: 1100\n...,True
2,150057053,2020-12-12,C77.5,2020-12-17,Notes_1129915463_4302367261_20201217.txt,\n\nNote Date: *****/*****/*****\n\nNote Type:...,True
3,151005496,2010-06-29,530.81,2010-06-29,Notes_1130863925_364816102_20100629.txt,\n\nNote Date: *****/*****/*****\n\nNote Type:...,True
4,150006448,2014-07-10,244.9,2014-07-14,Notes_1129865503_1991829458_20140714.txt,\n\nNote Date: *****/*****/*****\n\nNote Type:...,True

In [21]:
BIDMC_final_icd_neg = BIDMC_final_icd_neg.drop(columns=['valid'])
BIDMC_final_icd_neg.head()

,BDSPPatientID,AdmissionDate,ICD,NoteDate,NoteTitle,text
0,151212513,2016-02-03,305.1,2016-02-04,Notes_1131071605_435587215_20160204.txt,\n\nNote Date: *****/*****/*****\n\nNote Type:...
1,150639400,2023-06-12,Z79.4,2023-06-12,Notes_1130498158_10141889500_20230612.txt,\n\nNote Date: *****/*****/***** Time: 1100\n...
2,150057053,2020-12-12,C77.5,2020-12-17,Notes_1129915463_4302367261_20201217.txt,\n\nNote Date: *****/*****/*****\n\nNote Type:...
3,151005496,2010-06-29,530.81,2010-06-29,Notes_1130863925_364816102_20100629.txt,\n\nNote Date: *****/*****/*****\n\nNote Type:...
4,150006448,2014-07-10,244.9,2014-07-14,Notes_1129865503_1991829458_20140714.txt,\n\nNote Date: *****/*****/*****\n\nNote Type:...

In [22]:
BIDMC_final_icd_neg.to_csv('BIDMC_final_icd_neg.csv', index=False, header=True, sep=',', na_rep='NA')