In [1]:
import pandas as pd

## Goal is to cleanup the cohort data
 - Make sure each cohort df has the same column info

In [2]:
BI_neg = pd.read_csv('../annotationToolNegBIDMC/BIDMC_icd_neg_cohort.csv')
BI_pos = pd.read_csv('../annotationToolPosBIDMC/BIDMC_icd_pos_cohort.csv')
MGB_neg = pd.read_csv('../annotationToolNegMGB/MGB_icd_neg_cohort.csv')
MGB_pos = pd.read_csv('../annotationToolPosMGB/MGB_icd_pos_cohort.csv')

In [3]:
BI_neg.head()

,BDSPPatientID,AdmissionDate,ICD,NoteDate,NoteTitle,text
0,151212513,2016-02-03,305.1,2016-02-04,Notes_1131071605_435587215_20160204.txt,\n\nNote Date: *****/*****/*****\n\nNote Type:...
1,150639400,2023-06-12,Z79.4,2023-06-12,Notes_1130498158_10141889500_20230612.txt,\n\nNote Date: *****/*****/***** Time: 1100\n...
2,150057053,2020-12-12,C77.5,2020-12-17,Notes_1129915463_4302367261_20201217.txt,\n\nNote Date: *****/*****/*****\n\nNote Type:...
3,151005496,2010-06-29,530.81,2010-06-29,Notes_1130863925_364816102_20100629.txt,\n\nNote Date: *****/*****/*****\n\nNote Type:...
4,150006448,2014-07-10,244.9,2014-07-14,Notes_1129865503_1991829458_20140714.txt,\n\nNote Date: *****/*****/*****\n\nNote Type:...

In [6]:
dropColumns = ['ICD', 'AdmissionDate']

BI_neg = BI_neg.drop(columns=dropColumns)
BI_neg.head()

,BDSPPatientID,NoteDate,NoteTitle,text
0,151212513,2016-02-04,Notes_1131071605_435587215_20160204.txt,\n\nNote Date: *****/*****/*****\n\nNote Type:...
1,150639400,2023-06-12,Notes_1130498158_10141889500_20230612.txt,\n\nNote Date: *****/*****/***** Time: 1100\n...
2,150057053,2020-12-17,Notes_1129915463_4302367261_20201217.txt,\n\nNote Date: *****/*****/*****\n\nNote Type:...
3,151005496,2010-06-29,Notes_1130863925_364816102_20100629.txt,\n\nNote Date: *****/*****/*****\n\nNote Type:...
4,150006448,2014-07-14,Notes_1129865503_1991829458_20140714.txt,\n\nNote Date: *****/*****/*****\n\nNote Type:...

In [4]:
BI_pos.head()

,BDSPPatientID,AdmissionDate,ICD,NoteDate,NoteTitle,text
0,150022059,2021-02-28,I60.9,2021-03-01,Notes_1129881170_2470102250_20210301.txt,\n\nNote Date: *****/*****/***** Time: 0154\n...
1,151153367,2013-06-08,430,2013-06-08,Notes_1131012445_413930272_20130608.txt,\n\nNote Date: *****/*****/*****\n\nNote Type:...
2,150828106,2017-03-23,I60.9,2017-04-17,Notes_1130686598_332462314_20170417.txt,\n\nNote Date: *****/*****/*****\n\nNote Type:...
3,150018559,2020-05-10,I60.8,2020-05-12,Notes_1129877493_3385243575_20200512.txt,\n\nNote Date: *****/*****/***** Time: 0829\n...
4,151330933,2020-06-06,I60.32,2020-06-18,Notes_1131189610_3490844981_20200618.txt,\n\nNote Date: *****/*****/***** Time: 1549\n...

In [8]:
dropColumns = ['ICD', 'AdmissionDate']

BI_pos = BI_pos.drop(columns=dropColumns)
BI_pos.head()

KeyError: "['ICD', 'AdmissionDate'] not found in axis"

In [5]:
MGB_neg.head()

,BDSPPatientID,NoteDate,NoteTitle,text
0,118374115,2018-11-20 00:00:00,Notes_13333491432_2130196704_20181120.txt,Physician ***** ***** Admit date: ****...
1,116931824,2022-12-29 00:00:00,Notes_13563868206_7830407523_20221229.txt,Physician ***** ***** Admit date: ****...
2,118587891,2021-05-30 00:00:00,Notes_13532685798_4823397982_20210530.txt,Physician ***** ***** Admit date: ****...
3,114557355,2022-07-22 00:00:00,Notes_13620259495_8489742841_20220722.txt,Physician ***** ***** Admit date: ****...
4,114329029,2018-05-15 00:00:00,Notes_13356996149_1753656538_20180515.txt,Physician ***** ***** Admit date: ****...

In [11]:
MGB_pos.head()

,BDSPPatientID,DateICD,ICD,DateNote,NoteTextFile,text,valid
0,114316265,2023-01-24,430,2022-12-25,Notes_13605828901_9002141910_20221225.txt,Physician ***** ***** Admit date: ****...,True
1,120110560,2023-06-12,430,2023-06-25,Notes_13629086394_8327863776_20230625.txt,Physician ***** ***** Admit date: ****...,True
2,119573164,2021-02-13,I60.9,2021-02-23,Notes_13589736564_5567001557_20210223.txt,Physician ***** ***** Admit date: ****...,True
3,112030232,2021-05-07,430,2021-05-18,Notes_13566019013_5701887197_20210518.txt,Physician ***** ***** Admit date: ****...,True
4,111905857,2020-10-26,430,2020-10-02,Notes_13534548179_4160128051_20201002.txt,Physician ***** ***** Admit date: ****...,True

In [12]:
dropColumns = ['ICD', 'DateICD', 'valid']
renameColumns = {
    'DateNote': 'NoteDate',
    'NoteTextFile': 'NoteTitle'
}

MGB_pos = MGB_pos.drop(columns=dropColumns)
MGB_pos = MGB_pos.rename(columns=renameColumns)

MGB_pos.head()

,BDSPPatientID,NoteDate,NoteTitle,text
0,114316265,2022-12-25,Notes_13605828901_9002141910_20221225.txt,Physician ***** ***** Admit date: ****...
1,120110560,2023-06-25,Notes_13629086394_8327863776_20230625.txt,Physician ***** ***** Admit date: ****...
2,119573164,2021-02-23,Notes_13589736564_5567001557_20210223.txt,Physician ***** ***** Admit date: ****...
3,112030232,2021-05-18,Notes_13566019013_5701887197_20210518.txt,Physician ***** ***** Admit date: ****...
4,111905857,2020-10-02,Notes_13534548179_4160128051_20201002.txt,Physician ***** ***** Admit date: ****...

In [15]:
# create combined df
combined_df = pd.concat([BI_neg, BI_pos, MGB_neg, MGB_pos], ignore_index=True)
print(len(combined_df))
combined_df.head()

3096

,BDSPPatientID,NoteDate,NoteTitle,text
0,151212513,2016-02-04,Notes_1131071605_435587215_20160204.txt,\n\nNote Date: *****/*****/*****\n\nNote Type:...
1,150639400,2023-06-12,Notes_1130498158_10141889500_20230612.txt,\n\nNote Date: *****/*****/***** Time: 1100\n...
2,150057053,2020-12-17,Notes_1129915463_4302367261_20201217.txt,\n\nNote Date: *****/*****/*****\n\nNote Type:...
3,151005496,2010-06-29,Notes_1130863925_364816102_20100629.txt,\n\nNote Date: *****/*****/*****\n\nNote Type:...
4,150006448,2014-07-14,Notes_1129865503_1991829458_20140714.txt,\n\nNote Date: *****/*****/*****\n\nNote Type:...

In [17]:
# df for each hospital
BI_cohort = pd.concat([BI_neg, BI_pos], ignore_index=True)
print(len(BI_cohort))
BI_cohort.head()

MGB_cohort = pd.concat([MGB_neg, MGB_pos], ignore_index=True)
print(len(MGB_cohort))
MGB_cohort.head()

1014
2082

,BDSPPatientID,NoteDate,NoteTitle,text
0,118374115,2018-11-20 00:00:00,Notes_13333491432_2130196704_20181120.txt,Physician ***** ***** Admit date: ****...
1,116931824,2022-12-29 00:00:00,Notes_13563868206_7830407523_20221229.txt,Physician ***** ***** Admit date: ****...
2,118587891,2021-05-30 00:00:00,Notes_13532685798_4823397982_20210530.txt,Physician ***** ***** Admit date: ****...
3,114557355,2022-07-22 00:00:00,Notes_13620259495_8489742841_20220722.txt,Physician ***** ***** Admit date: ****...
4,114329029,2018-05-15 00:00:00,Notes_13356996149_1753656538_20180515.txt,Physician ***** ***** Admit date: ****...

In [16]:
BI_neg.to_csv('BIDMC_neg_cohort_final.csv', index=False)
BI_pos.to_csv('BIDMC_pos_cohort_final.csv', index=False)
MGB_neg.to_csv('MGB_neg_cohort_final.csv', index=False)
MGB_pos.to_csv('MGB_pos_cohort_final.csv', index=False)
combined_df.to_csv('full_cohort_final.csv', index=False)

In [18]:
BI_cohort.to_csv('BIDMC_cohort_final.csv', index=False)
MGB_cohort.to_csv('MGB_cohort_final.csv', index=False)