In [1]:
import pandas as pd
from tqdm import tqdm

In [2]:
cpt_filtered_chunk = pd.read_csv('cpt_filtered_chunk.csv')
cpt_filtered_chunk.head()

,BDSPPatientID,AdmissionDate,ICD,NoteDate,NoteTitle,text
0,150022059,2021-02-28,I60.9,2021-03-01,Notes_1129881170_2470102250_20210301.txt,\n\nNote Date: *****/*****/***** Time: 0154\n...
1,151153367,2013-06-08,430,2013-06-08,Notes_1131012445_413930272_20130608.txt,\n\nNote Date: *****/*****/*****\n\nNote Type:...
2,150828106,2017-03-23,I60.9,2017-04-17,Notes_1130686598_332462314_20170417.txt,\n\nNote Date: *****/*****/*****\n\nNote Type:...
3,150018559,2020-05-10,I60.8,2020-05-12,Notes_1129877493_3385243575_20200512.txt,\n\nNote Date: *****/*****/***** Time: 0829\n...
4,151330933,2020-06-06,I60.32,2020-06-18,Notes_1131189610_3490844981_20200618.txt,\n\nNote Date: *****/*****/***** Time: 1549\n...

In [6]:
unique_patients = cpt_filtered_chunk.drop_duplicates(subset='BDSPPatientID', keep='first')
print(len(unique_patients))

873

In [8]:
def check_word_count(text, threshold):
    word_count = len(text.split())
    return word_count > threshold

In [9]:
threshold = 500
unique_patients['valid'] = unique_patients['text'].apply(lambda x: check_word_count(x, threshold))
unique_patients.head()

/tmp/ipykernel_13109/3481420224.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unique_patients['valid'] = unique_patients['text'].apply(lambda x: check_word_count(x, threshold))

,BDSPPatientID,AdmissionDate,ICD,NoteDate,NoteTitle,text,valid
0,150022059,2021-02-28,I60.9,2021-03-01,Notes_1129881170_2470102250_20210301.txt,\n\nNote Date: *****/*****/***** Time: 0154\n...,True
1,151153367,2013-06-08,430,2013-06-08,Notes_1131012445_413930272_20130608.txt,\n\nNote Date: *****/*****/*****\n\nNote Type:...,True
2,150828106,2017-03-23,I60.9,2017-04-17,Notes_1130686598_332462314_20170417.txt,\n\nNote Date: *****/*****/*****\n\nNote Type:...,True
3,150018559,2020-05-10,I60.8,2020-05-12,Notes_1129877493_3385243575_20200512.txt,\n\nNote Date: *****/*****/***** Time: 0829\n...,True
4,151330933,2020-06-06,I60.32,2020-06-18,Notes_1131189610_3490844981_20200618.txt,\n\nNote Date: *****/*****/***** Time: 1549\n...,True

In [10]:
numValid = sum(unique_patients['valid'])
print(numValid)

790

In [11]:
false_indeces = unique_patients.index[~unique_patients['valid']].tolist()
print(false_indeces)

[11, 35, 54, 56, 58, 68, 86, 107, 153, 162, 163, 167, 172, 175, 179, 220, 236, 299, 316, 344, 369, 407, 437, 443, 445, 460, 503, 505, 525, 556, 558, 560, 611, 624, 652, 671, 677, 694, 696, 697, 719, 722, 732, 740, 757, 764, 783, 784, 798, 808, 880, 894, 919, 927, 931, 936, 957, 976, 987, 1005, 1027, 1040, 1043, 1059, 1064, 1076, 1111, 1157, 1190, 1192, 1212, 1219, 1231, 1236, 1256, 1261, 1284, 1390, 1403, 1446, 1466, 1495, 1508]

In [12]:
valid_notes = unique_patients.drop(index=false_indeces)
print(len(valid_notes))
valid_notes.head()

790

,BDSPPatientID,AdmissionDate,ICD,NoteDate,NoteTitle,text,valid
0,150022059,2021-02-28,I60.9,2021-03-01,Notes_1129881170_2470102250_20210301.txt,\n\nNote Date: *****/*****/***** Time: 0154\n...,True
1,151153367,2013-06-08,430,2013-06-08,Notes_1131012445_413930272_20130608.txt,\n\nNote Date: *****/*****/*****\n\nNote Type:...,True
2,150828106,2017-03-23,I60.9,2017-04-17,Notes_1130686598_332462314_20170417.txt,\n\nNote Date: *****/*****/*****\n\nNote Type:...,True
3,150018559,2020-05-10,I60.8,2020-05-12,Notes_1129877493_3385243575_20200512.txt,\n\nNote Date: *****/*****/***** Time: 0829\n...,True
4,151330933,2020-06-06,I60.32,2020-06-18,Notes_1131189610_3490844981_20200618.txt,\n\nNote Date: *****/*****/***** Time: 1549\n...,True

In [13]:
BIDMC_final_icd_pos = valid_notes.head(515)
print(len(BIDMC_final_icd_pos))
BIDMC_final_icd_pos.head()

515

,BDSPPatientID,AdmissionDate,ICD,NoteDate,NoteTitle,text,valid
0,150022059,2021-02-28,I60.9,2021-03-01,Notes_1129881170_2470102250_20210301.txt,\n\nNote Date: *****/*****/***** Time: 0154\n...,True
1,151153367,2013-06-08,430,2013-06-08,Notes_1131012445_413930272_20130608.txt,\n\nNote Date: *****/*****/*****\n\nNote Type:...,True
2,150828106,2017-03-23,I60.9,2017-04-17,Notes_1130686598_332462314_20170417.txt,\n\nNote Date: *****/*****/*****\n\nNote Type:...,True
3,150018559,2020-05-10,I60.8,2020-05-12,Notes_1129877493_3385243575_20200512.txt,\n\nNote Date: *****/*****/***** Time: 0829\n...,True
4,151330933,2020-06-06,I60.32,2020-06-18,Notes_1131189610_3490844981_20200618.txt,\n\nNote Date: *****/*****/***** Time: 1549\n...,True

In [14]:
BIDMC_final_icd_pos = BIDMC_final_icd_pos.drop(columns=['valid'])
BIDMC_final_icd_pos.head()

,BDSPPatientID,AdmissionDate,ICD,NoteDate,NoteTitle,text
0,150022059,2021-02-28,I60.9,2021-03-01,Notes_1129881170_2470102250_20210301.txt,\n\nNote Date: *****/*****/***** Time: 0154\n...
1,151153367,2013-06-08,430,2013-06-08,Notes_1131012445_413930272_20130608.txt,\n\nNote Date: *****/*****/*****\n\nNote Type:...
2,150828106,2017-03-23,I60.9,2017-04-17,Notes_1130686598_332462314_20170417.txt,\n\nNote Date: *****/*****/*****\n\nNote Type:...
3,150018559,2020-05-10,I60.8,2020-05-12,Notes_1129877493_3385243575_20200512.txt,\n\nNote Date: *****/*****/***** Time: 0829\n...
4,151330933,2020-06-06,I60.32,2020-06-18,Notes_1131189610_3490844981_20200618.txt,\n\nNote Date: *****/*****/***** Time: 1549\n...

In [15]:
BIDMC_final_icd_pos.to_csv('BIDMC_final_icd_pos.csv', index=False, header=True, sep=',', na_rep='NA')